<% provide(:title, 'Feedback') %>
<div class="WelcomeMessage">
  <h1>РГМЦ Канцелярия v 0.1</h1>
</div>
<div class="center hero-unit">
  <div class="linkbox">
    <%= link_to "Сформировать Новую Заявку",  formapp_path,
    class: "btn btn-large btn-info btn-block" %>
  </div>
  <div class="linkbox">
  <%= link_to "Просмотреть Заявки",           readapp_path,
  class: "btn btn-large btn-info btn-block" %>
  </div>
  <div class="linkbox">
  <%= link_to "Обратная Связь",               call_path,
  class: "btn btn-large btn-success btn-block" %>
  </div>
</div>
