  <% provide(:title, 'Help') %>
  <div class="WelcomeMessage">
    <h1>Помощь</h1>
  </div>
  <div class="center hero-unit">
    <div class="linkbox">
      <%= link_to "Как работать с приложением",  'formapp_path',
      class: "btn btn-large btn-info btn-block" %>
    </div>
    <div class="linkbox">
    <%= link_to "Сообщить об ошибке",           'readapp_path',
    class: "btn btn-large btn-danger btn-block" %>
    </div>
  </div>
