<% provide(:title, 'Help') %>
<div class="TofuShoperHead">
  <h1>Справка</h1>
</div>
  <div class="container">
    <div class="button">
      <h3>Как работать с приложением</h3>
    </div>
    <div class="button">
      <h3>Как работает приложение</h3>
    </div>
    <div class="button">
      <h3>Сообщить об ошибке</h3>
    </div>
  </div>
