<% provide(:title, 'Stationery') %>
<div class="container">
  <div class="button">
    <h3>Сформировать Новую Заявку</h3>
  </div>
  <div class="button">
    <h3>Просмотреть Заявки</h3>
  </div>
  <div class="button">
    <h3>App</h3>
  </div>
</div>
