<% provide(:title, 'Read Application') %>
<div class="WelcomeMessage">
  <h1>РГМЦ Канцелярия v 0.1</h1>
  <section class="wrapper">
  	<ul class="tabs">
  		<li class="active">1й Квартал</li>
  		<li>2й Квартал</li>
  		<li>3й Квартал</li>
      <li>4й Квартал</li>
  	</ul>

  	<ul class="tab__content">
  		<li class="active">
  			<div class="content__wrapper">

          Заявка за первый квартал 2016го года
  				<!-- <h2 class="text-color">Pick a color</h2>

  				<ul class="colors">
  					<li data-color="#2ecc71"></li>
  					<li data-color="#D64A4B"></li>
  					<li data-color="#8e44ad"></li>
  					<li class="active-color" data-color="#46a1de"></li>
  					<li data-color="#bdc3c7"></li>
  				</ul> -->
  			</div>
  		</li>
  		<li>
  			<div class="content__wrapper">
          Заявка на 2й квартал ----- года
  				<!-- <h2 class="text-color">Her</h2>

  				<img src="http://lewihussey.com/codepen-img/her.jpg"> -->
  			</div>
  		</li>
  		<li>
  			<div class="content__wrapper">

          Заявка на 3й квартал ----- года
  				<!-- <h2 class="text-color">About</h2>

  				<p>Created by <a class="text-color" href="http://lewihussey.com" target="_blank">Lewi Hussey</a></p> -->
  			</div>
  		</li>
      <li>
  			<div class="content__wrapper">

          Заявка на 4й квартал ----- года
  				<!-- <h2 class="text-color">About</h2>

  				<p>Created by <a class="text-color" href="http://lewihussey.com" target="_blank">Lewi Hussey</a></p> -->
  			</div>
  		</li>
  	</ul>
  </section>

</div>
<div class="center hero-unit">
<%= render 'layouts/navbackhome' %>
</div>
