<% provide(:title, 'Read Application') %>
<div class="WelcomeMessage">
  <h1>РГМЦ Канцелярия v 0.1</h1>
</div>
<% if current_user.admin? %>
 <%= render 'layouts/adminappview' %>
<% else %>
<%= render 'layouts/userappview' %>
<% end %>
<div class="center hero-unit">
<%= render 'layouts/navbackhome' %>
</div>
