<% provide(:title, 'New User') %>
<div class="WelcomeMessage">
  <h1>Создание нового пользователя</h1>
</div>
<p>
  Login
</p>
<p>
  Password
</p>

  </div>
  <div class="linkbox">
  <%= link_to "Создать пользователя",               call_path,
  class: "btn btn-large btn-success btn-block" %>
  </div>
</div>
