
@import "bootstrap";
/* universal */

html {
  overflow-y: scroll;
}

body {
  background-color: #DBDBCE;
  padding-top: 200px;
}

section {
  overflow: auto;
}

textarea {
  resize: vertical;
}

.center {
  text-align: center;
}

.center h1 {
  margin-bottom: 10px;
}

/* typography */

h1, h2, h3, h4, h5, h6 {
  line-height: 1;
}

h1 {
  font-size: 3em;
  letter-spacing: -2px;
  margin-bottom: 30px;
  text-align: center;
}

h2 {
  font-size: 1.2em;
  letter-spacing: -1px;
  margin-bottom: 30px;
  text-align: center;
  font-weight: normal;
  color: #999;
}

p {
  font-size: 1.1em;
  line-height: 1.7em;
}

a {
  color: #999;
  font-weight: bold;
  line-height: 1;
}

/* header */

#logo {
  float: left;
  margin-right: 10px;
  font-size: 1.7em;
  color: #fff;
  text-transform: uppercase;
  letter-spacing: -1px;
  padding-top: 9px;
  font-weight: bold;
  line-height: 1;
}

#logo:hover {
  color: #fff;
  text-decoration: none;
}

.linkbox {
  text-align: center;
  padding: 35px;
  height: 50px;
  max-width: 500px;
  margin: auto;
}
.btn {
  font-size: 2em;
}

.kancel_logo {
  margin: auto;
  max-height: 100px;
  overflow: hidden;
  float: left;
}

/* mixins, variables, etc. */

$grayMediumLight: #eaeaea;

@mixin box_sizing {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

/* miscellaneous */

.debug_dump {
  clear: both;
  float: left;
  width: 100%;
  margin-top: 45px;
  @include box_sizing;
}

/* sidebar */

aside {
  section {
    padding: 10px 0;
    border-top: 1px solid #aaa;
    &:first-child {
      border: 0;
      padding-top: 0;
    }
    span {
      display: block;
      margin-bottom: 3px;
      line-height: 1;
    }
    h1 {
      font-size: 1.4em;
      text-align: left;
      letter-spacing: -1px;
      margin-bottom: 3px;
      margin-top: 0px;
    }
  }
}

.gravatar {
  max-width: 500px;
}

/* forms */

input, textarea, select, .uneditable-input {
  border: 1px solid #bbb;
  width: 100%;
  margin-bottom: 15px;
  @include box_sizing;
}

input {
  height: auto !important;
}

#error_explanation {
  color: #f00;
  ul {
    list-style: none;
    margin: 0 0 18px 0;
  }
}

.span5 {
  max-width: 500px;
  margin: auto;
}
.greyLine {
  min-height: 5px;
  min-width: 500px;
  background-color: #666;
  margin-top: 35px;
}
.footer {
  background-color: #999;
  padding-bottom: 1px;
  margin-bottom: 10px;
}
/* Users index */

.users {
  list-style: none;
  margin: 0;
  li {
    overflow: auto;
    padding: 10px 0;
    border-top: 1px solid gray;
    &:last-child {
      border-bottom: 1px solid gray;
    }
  }
}

.btn-info {
  background-color: #8F8F68;
}

.btn-success {
  background-color: #277A27;
}

.btn-danger {
  background-color: #912C42;
}

*{
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}

////////////////////////////// TABS \\\\\\\\\\\\\\\\\\\\\\\\\\\\\
.bg-color{
	background-color: #46a1de;
	transition-duration: .5s;
}

.text-color{
	color: #46a1de;
	transition-duration: .5s;
}

footer{
	padding: 40px 0;
	text-align: center;
	opacity: .33;
	color: white;
}

.wrapper{
	min-width: 600px;
	max-width: 900px;
	margin: 0 auto;
}

.tabs{
	display: table;
	table-layout: fixed;
	width: 100%;
	-webkit-transform: translateY(5px);
	transform: translateY(5px);

	>li{
		transition-duration: .25s;
		display: table-cell;
		list-style: none;
		text-align: center;
		padding: 20px 20px 25px 20px;
		position: relative;
		overflow: hidden;
		cursor: pointer;
		color: black;

		&:before{
			z-index: -1;
			position: absolute;
			content: "";
			width: 100%;
			height: 120%;
			top: 0;
			left: 0;
			background-color: rgba(255, 255, 255, .3);
			-webkit-transform: translateY(100%);
			transform: translateY(100%);
			transition-duration: .25s;
			border-radius: 5px 5px 0 0;
		}

		&:hover{
			&:before{
				-webkit-transform: translateY(70%);
				transform: translateY(70%);
			}
		}

		&.active{
			color: rgb(80, 85, 90);

			&:before{
				transition-duration: .5s;
				background-color: #8F8F68;
				-webkit-transform: translateY(0);
				transform: translateY(0);
			}
		}
	}
}

.tab__content{
	background-color: #C#D;
	position: relative;
	width: 100%;
	border-radius: 5px;

	>li{
		width: 100%;
		position: absolute;
		top: 0;
		left: 0;

		display: none;
		list-style: none;

		.content__wrapper{
			text-align: center;
			border-radius: 5px;
			width: 100%;
			padding: 45px 40px 40px 40px;
			background-color: #CACABD;
      border-style: double;
      border-color: black;
      border-width: 2px;
		}
	}
}

.content__wrapper{
	h2{
		width: 100%;
		text-align: center;
		padding-bottom: 20px;
		font-weight: 300;
	}

	img{
		width: 100%;
		height: auto;
		border-radius: 5px;
	}
}

.colors{
	text-align: center;
	padding-top: 20px;

	>li{
		list-style: none;
		width: 50px;
		height: 50px;
		border-radius: 50%;
		border-bottom: 5px solid rgba(7, 7, 7, .1);
		display: inline-block;
		margin: 0 10px;
		cursor: pointer;
		transition-duration: .2s;
		box-shadow: 0 2px 1px rgba(6, 6, 6, .2);

		&:hover{
			-webkit-transform: scale(1.2);
			transform: scale(1.2);
			border-bottom: 10px solid rgba(5, 5, 5, .15);
			box-shadow: 0 10px 10px rgba(4, 4, 4, .2);
		}

		&.active-color{
			-webkit-transform: scale(1.2) translateY(-10px);
			transform: scale(1.2) translateY(-10px);
			box-shadow: 0 10px 10px rgba(4, 4, 4, .2);
			border-bottom: 20px solid rgba(3, 3, 3, .15);
		}

		&:nth-child(1){
			background-color: #2ecc71;
		}

		&:nth-child(2){
			background-color: #D64A4B;
		}

		&:nth-child(3){
			background-color: #8e44ad;
		}

		&:nth-child(4){
			background-color: #46a1de;
		}

		&:nth-child(5){
			background-color: #bdc3c7;
		}
	}
}

////////////////////////////// TABS \\\\\\\\\\\\\\\\\\\\\\\\\\\\\
