<div class="accord-container">
  <div class="accordion">
    <input type="radio" id="1" name="accordion"/>
    <label for="1" class="accordion-section">
      <h3 class="accordion-header">Заявки Бухгалтерии</h3>
      <p>ололоо трололо</p>
    </label>
    <input type="radio" id="2" name="accordion"/>
    <label for="2" class="accordion-section">
      <h3 class="accordion-header">Заявки Отдела Кадров</h3>
      <p>ололоо трололо</p>
    </label>
    <input type="radio" id="3" name="accordion"/>
    <label for="3" class="accordion-section">
      <h3 class="accordion-header">Заявки Применой</h3>
      <p>ололоо трололо</p>
    </label>
    <input type="radio" id="4" name="accordion"/>
    <label for="4" class="accordion-section">
      <h3 class="accordion-header">Заявки Музыкальной Библиотеки (Перерва)</h3>
      <p>ололоо трололо</p>
    </label>
    <input type="radio" id="5" name="accordion"/>
    <label for="5" class="accordion-section">
      <h3 class="accordion-header">Заявки Ателье</h3>
      <p>ололоо трололо</p>
    </label>
    <input type="radio" id="6" name="accordion"/>
    <label for="6" class="accordion-section">
      <h3 class="accordion-header">Заявки Черноног Анны</h3>
      <p>ололоо трололо</p>
    </label>
    <input type="radio" id="7" name="accordion"/>
    <label for="7" class="accordion-section">
      <h3 class="accordion-header">Заявки PR-Отдела</h3>
      <p>ололоо трололо</p>
    </label>
    <input type="radio" id="8" name="accordion"/>
    <label for="8" class="accordion-section">
      <h3 class="accordion-header">Заявки Радио Орфей</h3>
      <p>ололоо трололо</p>
    </label>
    <input type="radio" id="9" name="accordion"/>
    <label for="9" class="accordion-section">
      <h3 class="accordion-header">Заявки Первого Этажа</h3>
      <p>ололоо трололо</p>
    </label>
    <input type="radio" id="10" name="accordion"/>
    <label for="10" class="accordion-section">
      <h3 class="accordion-header">Заявки Тех. Отдела</h3>
      <p>ололоо трололо</p>
    </label>
    <input type="radio" id="11" name="accordion"/>
    <label for="11" class="accordion-section">
      <h3 class="accordion-header">Заявки Чебоксарова Святослава</h3>
      <p>ололоо трололо</p>
    </label>
    <input type="radio" id="12" name="accordion"/>
    <label for="12" class="accordion-section">
      <h3 class="accordion-header">Заявки Бабичева</h3>
      <p>ололоо трололо</p>
    </label>
  </div>
</div>

<!--  Список заказчиков:
бухгалтерия Чукова
отдел кадров Кондаурова

приемная Савина
музыкальное хранилище Воробьева
библиотека
ателье Фурманюк
агафонников Черноног
пиар отдел Семененко
орфей Кулешова
первый этаж хз кто
айти отдел Банников
Чебоксаров Святослав
Бабичев
-->
